.block-header {
  display: flex;
  justify-content: center;
  // .block-header--center
  &--center {
    text-align: center;
  }

  &--inline {
  }
  &:not(:last-child) {
    margin-bottom: 64px;
  }
  @media (max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
  &__decor {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 23px;
      height: 25px;
      top: -12px;
      left: -15px;

      background: url(/img/decor/hero_dec.png) center no-repeat;
    }
  }
  // .block-header__title
  &__title {
    font-family: "GilroyB";
    font-size: 42px;
    line-height: 1.3;

    // .block-header__title--big
    &--big {
    }

    // .block-header__title--white
    &--white {
    }

    @media (max-width: $tablet) {
    }
  }

  // .block-header__text
  &__text {
    &--white {
      color: #fff;
    }
    p {
    }
    a {
      &:hover {
      }
    }
  }
}

/*

*/
